VITE_OPENROUTER_API_KEY=dummy
VITE_OPENROUTER_API_URL=https://openrouter.ai/api/v1/chat/completions
VITE_OPENROUTER_MODEL=deepseek/deepseek-coder
MONGODB_URI=mongodb+srv://compilersuji:PMCIWDI@cluster0.qzasoae.mongodb.net/abusuji
